.app-report {
  --gap: 2rem;

  align-content: start;
  display: grid;
  font-size: 2em;
  grid-template-columns: auto 1fr auto;
}

.report-headline {
  grid-column: span 3;
  margin-bottom: 1rem;
}

.report-header {
  border-bottom: 1px solid currentColor;
  color: var(--color-muted);
  display: grid;
  font-size: 1rem;
  font-weight: bold;
  gap: var(--gap);
  grid-column: 1/-1;
  grid-template-columns: subgrid;
}

.report-allocation {
  display: grid;
  gap: var(--gap);
  grid-column: 1/-1;
  grid-template-columns: subgrid;
}

@media screen and (max-width: 800px) {
  .app-report {
    width: 100%;
  }

  .report-headline {
    display: none;
  }
}
