label {
  display: grid;
  gap: 0.5em;
  grid-template-areas: 'label' 'select' 'aside';
  padding: 1em;

  &:focus-within {
    background-color: var(--focus-color);
  }
}

span {
  font-weight: bold;
  grid-area: label;
}

select {
  grid-area: select;
  padding: 0.25em;
}

aside {
  grid-area: aside;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 1.25em;
    padding: 0;
  }
}
