fieldset {
  border: 2px solid var(--color-muted);
  padding: 0;
  position: relative;
}

legend {
  --border-color: var(--bg);

  background-color: var(--bg);
  border: 2px solid var(--border-color);
  font-weight: bold;
  left: 0;
  margin: 0 1em;
  padding: 0 0.25em;
  position: absolute;
  top: 0;
  translate: 0 -1em;
}

fieldset:focus-within legend {
  --border-color: var(--color-muted);
}

@media screen and (max-width: 800px) {
  fieldset {
    border-style: none;
    gap: 1.5em;
    padding: 0;
    width: 100%;
  }

  legend {
    display: none;
  }
}
