:root {
  --bg: #222629;
  --color: #dfdfdf;
  --color-muted: #70787f;
  --focus-color: #495967;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: var(--bg);
}

body {
  background: var(--bg);
  color: var(--color);
  font: 1em/1.6 arial, sans-serif;
}

input,
select,
textarea {
  font: inherit;
  border: 2px solid var(--bg);
}

label {
  cursor: pointer;

  aside {
    font-style: italic;
    font-size: 0.8em;
  }
}
